spring:
  application:
    name: haibackend
  
  profiles:
    group:
      timeline-export:
        - default

  server:
    port: ${SERVER_PORT}

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false
  
  sql:
    init:
      mode: always
      encoding: utf-8
      schema-locations: classpath:schema.sql
      data-locations: classpath:country_data.sql, classpath:capital_data.sql, classpath:war_data.sql, classpath:battle_data.sql ,classpath:main_event_data.sql, classpath:king_data.sql, classpath:trade_data.sql 
logging:
  level:
    org.springframework.jdbc.datasource.init: debug
    org.hibernate.SQL: debug
    org.hibernate.type.descriptor.sql.BasicBinder: trace
